<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>الطلبات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid style="text-align: center">
    <ion-row>
      <ion-col>
        <div>
          <p class="tit">الصورة</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p class="tit">الاسم</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p class="tit">العنوان</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p class="tit">الهاتف</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of items" (click)="passid(item[5])">
      <ion-col>
        <div>
          <ion-avatar item-end>
            <img style="width: 40px;height: 40px;" src="{{item[2]}}">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p>{{item[3]}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p>{{item[0]}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p>{{item[4]}}</p>
        </div>
      </ion-col>
      <hr>
    </ion-row>
  </ion-grid>
</ion-content>