<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>الطلبات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of list | async">
    <img style="height: 200px;width: 100%;" class="imagedev" [src]="item.payload.val().image">
    <ion-card-content>
      <ion-card-title>
        <p style="text-align: center;font-size: 18px">
          {{item.payload.val().name}}
        </p><br>
      </ion-card-title>
      <p style="text-align: right">
        <span style="color:#3880ff">الوصف:</span> {{item.payload.val().desc}}
      </p><br><br>
      <ion-row style="text-align: center">
        <ion-col col-4>
          <ion-label style="color:#3880ff"> المجموع </ion-label>
          <ion-label> {{item.payload.val().price*item.payload.val().count}}
          </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label style="color:#3880ff">المفرد</ion-label>
          <ion-label> {{item.payload.val().price}} </ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label style="color:#3880ff">العدد</ion-label>
          <ion-label> {{item.payload.val().count}} </ion-label>
        </ion-col>
      </ion-row>

      <div style="text-align: center" class="logbut" (click)="req_done(item.key)">
        <ion-button fill="outline" color="primary">تم توصيل الطلب</ion-button>
      </div>

    </ion-card-content>
  </ion-card><br>
</ion-content>